HTML, BODY {
  height: 100%;
  }

#game_intro {
  height: 100%;
  width: 100%;
  font-size: 150px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color:white;
  position:fixed;
}

#game_intro h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
}

#intro_h2_container{
  height: 100%;
}
}